@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Atiana’S - Joyeria</title>

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">


    <!-- Archivos CSS -->
    <link rel="stylesheet" href="~/Content/fontawesome.css">
    <link rel="stylesheet" href="~/Content/templatemo-villa-agency.css">

    <link rel="stylesheet" href="~/Content/owl.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

</head>

<body>

    <!-- ***** Inicio del Preloader ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Fin del Preloader ***** -->

    <div class="sub-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <ul class="info">
                        <li><i class="fa fa-envelope"></i> atianas@gmail.com</li>
                        <li><i class="fa fa-map"></i> Lima - Perú</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4">
                    <ul class="social-links">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/atianas_02/"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Inicio del Header ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Inicio del Logo ***** -->
                        <a href="index.html" class="logo">
                            <h1>Atiana’S</h1>
                        </a>
                        <!-- ***** Fin del Logo ***** -->
                        <!-- ***** Inicio del Menu ***** -->
                        <ul class="nav">
                            <li><a href="index.html" class="active">Inicio</a></li>
                            <li><a href="properties.html">Tienda</a></li>
                            <li><a href="property-details.html">Nosotros</a></li>
                            <li><a href="contact.html">Contactanos</a></li>
                            <li><a href="#"><i class="fa fa-store"></i> Tienda Online</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Fin del Menu ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Fin del Header ***** -->

    <div class="main-banner">
        <div class="owl-carousel owl-banner">
            <div class="item item-1">
                <div class="header-text">
                    <span class="category">Lima, <em>Perú</em></span>
                    <h2>¡Date prisa!<br>Obtén la Mejor Joya para ti</h2>
                </div>
            </div>
            <div class="item item-2">
                <div class="header-text">
                    <span class="category">Lima, <em>Perú</em></span>
                    <h2>¡Apresúrate!<br>Consigue la mejor joya en la ciudad</h2>
                </div>
            </div>
            <div class="item item-3">
                <div class="header-text">
                    <span class="category">Lima, <em>Perú</em></span>
                    <h2>¡Actúa ahora!<br>Obtén la joya más exclusiva</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="featured section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="left-image">
                        <img src="~/Content/images/joya1.jpg" alt="">
                        <!--<a href="property-details.html"><img src="assets/images/featured-icon.png" alt="" style="max-width: 60px; padding: 0px;"></a>-->
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="section-heading">
                        <h6>| Nosotros</h6>
                        <h2>Hecho a mano &amp; con Mucho Amor</h2>
                    </div>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="fas fa-gem me-2"></i> Historia de Atiana'S
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    En Atiana’S, cada pieza de joyería es creada con atención al detalle y pasión por el arte. Desde nuestros humildes comienzos, nos hemos dedicado a ofrecer joyas únicas y personalizadas.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <i class="fas fa-hand-holding-heart me-2"></i> Nuestro Proceso
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Cada joya es hecha a mano, utilizando los mejores materiales y técnicas artesanales. Desde el diseño inicial hasta el producto final, ponemos nuestro corazón en cada paso del proceso.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="fas fa-star me-2"></i> ¿Por qué Atiana’S?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    En Atiana’S, nos enorgullecemos de ofrecer joyas que no solo son hermosas, sino también significativas. Nuestro compromiso con la calidad y el servicio al cliente nos distingue.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="info-table">
                        <ul>
                            <li class="d-flex align-items-center mb-3">
                                <i class="fas fa-gem fa-2x me-3"></i>
                                <h4>Calidad<br><span>Materiales de Calidad</span></h4>
                            </li>
                            <li class="d-flex align-items-center mb-3">
                                <i class="fas fa-certificate fa-2x me-3"></i>
                                <h4>Autenticidad<br><span>Certificados de Autenticidad</span></h4>
                            </li>
                            <li class="d-flex align-items-center mb-3">
                                <i class="fas fa-hand-holding-usd fa-2x me-3"></i>
                                <h4>Financiamiento<br><span>Opciones Flexibles</span></h4>
                            </li>
                            <li class="d-flex align-items-center mb-3">
                                <i class="fas fa-shield-alt fa-2x me-3"></i>
                                <h4>Seguridad<br><span>Compras Seguras 24/7</span></h4>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--
                <div class="video section">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-4 offset-lg-4">
                        <div class="section-heading text-center">
                          <h6>| Video View</h6>
                          <h2>Get Closer View & Different Feeling</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="video-content">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-10 offset-lg-1">
                        <div class="video-frame">
                          <img src="assets/images/video-frame.jpg" alt="">
                          <a href="https://youtube.com" target="_blank"><i class="fa fa-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>-->

                <div class="fun-facts">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="wrapper">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="counter text-center">
                                                <i class="fas fa-gem fa-3x mb-2"></i>
                                                <h2 class="timer count-title count-number" data-to="500" data-speed="1000"></h2>
                                                <p class="count-text">Piezas<br>Vendidas</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="counter text-center">
                                                <i class="fas fa-clock fa-3x mb-2"></i>
                                                <h2 class="timer count-title count-number" data-to="10" data-speed="1000"></h2>
                                                <p class="count-text">Años de<br>Experiencia</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="counter text-center">
                                                <i class="fas fa-smile fa-3x mb-2"></i>
                                                <h2 class="timer count-title count-number" data-to="300" data-speed="1000"></h2>
                                                <p class="count-text">Clientes<br>Satisfechos</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section best-deal">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="section-heading">
                                    <h6>| Ofertas Especiales</h6>
                                    <h2>¡Encuentra tu Mejor Oferta Ahora!</h2>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="tabs-content">
                                    <div class="row">
                                        <div class="nav-wrapper">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link active" id="pink-stone-necklace-tab" data-bs-toggle="tab" data-bs-target="#pink-stone-necklace" type="button" role="tab" aria-controls="pink-stone-necklace" aria-selected="true">Collar Piedra Rosa</button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link" id="buzios-star-necklace-tab" data-bs-toggle="tab" data-bs-target="#buzios-star-necklace" type="button" role="tab" aria-controls="buzios-star-necklace" aria-selected="false">Collar de Buzios y Estrella</button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link" id="heart-bracelet-tab" data-bs-toggle="tab" data-bs-target="#heart-bracelet" type="button" role="tab" aria-controls="heart-bracelet" aria-selected="false">Pulsera de Piedras Naturales</button>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active" id="pink-stone-necklace" role="tabpanel" aria-labelledby="pink-stone-necklace-tab">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <div class="info-table">
                                                            <ul>
                                                                <li>Material <span>Plata</span></li>
                                                                <li>Gema <span>Piedra Rosa</span></li>
                                                                <li>Tipo de Dije <span>Corazón</span></li>
                                                                <li>Longitud <span>45 cm</span></li>
                                                                <li>Precio <span>$150</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <img src="~/Content/images/dijecorazon.jpg" alt="Collar de Piedra Rosa con Dije de Corazón">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <h4>Información Adicional</h4>
                                                        <p>Este collar de plata con una hermosa piedra rosa y dije de corazón es perfecto para añadir un toque romántico a tu estilo. Ideal para regalos o para darte un capricho.</p>
                                                        <div class="icon-button">
                                                            <a href="product-details.html"><i class="fa fa-info-circle"></i> Más Información</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="buzios-star-necklace" role="tabpanel" aria-labelledby="buzios-star-necklace-tab">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <div class="info-table">
                                                            <ul>
                                                                <li>Material <span>Oro</span></li>
                                                                <li>Gema <span>Piedra Natural</span></li>
                                                                <li>Dije <span>Estrella y Buzios</span></li>
                                                                <li>Longitud <span>50 cm</span></li>
                                                                <li>Precio <span>$200</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <img src="~/Content/images/Collardebuzios.jpg" alt="Collar de Buzios con Estrella y Piedra Natural">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <h4>Información Adicional</h4>
                                                        <p>Este exclusivo collar de oro adornado con un dije de estrella y buzios, complementado con una piedra natural, es una pieza única que añade un toque elegante y distintivo a cualquier conjunto.</p>
                                                        <div class="icon-button">
                                                            <a href="product-details.html"><i class="fa fa-info-circle"></i> Más Información</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="heart-bracelet" role="tabpanel" aria-labelledby="heart-bracelet-tab">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <div class="info-table">
                                                            <ul>
                                                                <li>Material <span>Piedras Naturales</span></li>
                                                                <li>Tipo de Dije <span>Corazón</span></li>
                                                                <li>Tamaño <span>Ajustable</span></li>
                                                                <li>Precio <span>$120</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <img src="~/Content/images/Pulseradepiedras.jpg" alt="Pulsera de Piedras Naturales con Dije de Corazón">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <h4>Información Adicional</h4>
                                                        <p>Esta pulsera de piedras naturales con un delicado dije de corazón es el accesorio perfecto para cualquier ocasión. Su diseño ajustable asegura un ajuste cómodo y elegante.</p>
                                                        <div class="icon-button">
                                                            <a href="product-details.html"><i class="fa fa-info-circle"></i> Más Información</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- EDITAR ESTA PARTE CON LOS PRODUCTOS DE LA TIENDA -->
                <div class="properties section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 offset-lg-4">
                                <div class="section-heading text-center">
                                    <h6>| Properties</h6>
                                    <h2>We Provide The Best Property You Like</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="item">
                                    <a href="property-details.html"><img src="~/Content/images/property-01.jpg" alt=""></a>
                                    <span class="category">Luxury Villa</span>
                                    <h6>$2.264.000</h6>
                                    <h4><a href="property-details.html">18 New Street Miami, OR 97219</a></h4>
                                    <ul>
                                        <li>Bedrooms: <span>8</span></li>
                                        <li>Bathrooms: <span>8</span></li>
                                        <li>Area: <span>545m2</span></li>
                                        <li>Floor: <span>3</span></li>
                                        <li>Parking: <span>6 spots</span></li>
                                    </ul>
                                    <div class="main-button">
                                        <a href="property-details.html">Schedule a visit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="item">
                                    <a href="property-details.html"><img src="~/Content/images/property-02.jpg" alt=""></a>
                                    <span class="category">Luxury Villa</span>
                                    <h6>$1.180.000</h6>
                                    <h4><a href="property-details.html">54 Mid Street Florida, OR 27001</a></h4>
                                    <ul>
                                        <li>Bedrooms: <span>6</span></li>
                                        <li>Bathrooms: <span>5</span></li>
                                        <li>Area: <span>450m2</span></li>
                                        <li>Floor: <span>3</span></li>
                                        <li>Parking: <span>8 spots</span></li>
                                    </ul>
                                    <div class="main-button">
                                        <a href="property-details.html">Schedule a visit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="item">
                                    <a href="property-details.html"><img src="~/Content/images/property-03.jpg" alt=""></a>
                                    <span class="category">Luxury Villa</span>
                                    <h6>$1.460.000</h6>
                                    <h4><a href="property-details.html">26 Old Street Miami, OR 38540</a></h4>
                                    <ul>
                                        <li>Bedrooms: <span>5</span></li>
                                        <li>Bathrooms: <span>4</span></li>
                                        <li>Area: <span>225m2</span></li>
                                        <li>Floor: <span>3</span></li>
                                        <li>Parking: <span>10 spots</span></li>
                                    </ul>
                                    <div class="main-button">
                                        <a href="property-details.html">Schedule a visit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="item">
                                    <a href="property-details.html"><img src="~/Content/images/property-04.jpg" alt=""></a>
                                    <span class="category">Apartment</span>
                                    <h6>$584.500</h6>
                                    <h4><a href="property-details.html">12 New Street Miami, OR 12650</a></h4>
                                    <ul>
                                        <li>Bedrooms: <span>4</span></li>
                                        <li>Bathrooms: <span>3</span></li>
                                        <li>Area: <span>125m2</span></li>
                                        <li>Floor: <span>25th</span></li>
                                        <li>Parking: <span>2 cars</span></li>
                                    </ul>
                                    <div class="main-button">
                                        <a href="property-details.html">Schedule a visit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="item">
                                    <a href="property-details.html"><img src="~/Content/images/property-05.jpg" alt=""></a>
                                    <span class="category">Penthouse</span>
                                    <h6>$925.600</h6>
                                    <h4><a href="property-details.html">34 Beach Street Miami, OR 42680</a></h4>
                                    <ul>
                                        <li>Bedrooms: <span>4</span></li>
                                        <li>Bathrooms: <span>4</span></li>
                                        <li>Area: <span>180m2</span></li>
                                        <li>Floor: <span>38th</span></li>
                                        <li>Parking: <span>2 cars</span></li>
                                    </ul>
                                    <div class="main-button">
                                        <a href="property-details.html">Schedule a visit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="item">
                                    <a href="property-details.html"><img src="~/Content/images/property-06.jpg" alt=""></a>
                                    <span class="category">Modern Condo</span>
                                    <h6>$450.000</h6>
                                    <h4><a href="property-details.html">22 New Street Portland, OR 16540</a></h4>
                                    <ul>
                                        <li>Bedrooms: <span>3</span></li>
                                        <li>Bathrooms: <span>2</span></li>
                                        <li>Area: <span>165m2</span></li>
                                        <li>Floor: <span>26th</span></li>
                                        <li>Parking: <span>3 cars</span></li>
                                    </ul>
                                    <div class="main-button">
                                        <a href="property-details.html">Schedule a visit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="contact section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 offset-lg-4">
                                <div class="section-heading text-center">
                                    <h6>| Contáctenos</h6>
                                    <h2>Póngase en Contacto con Nuestros Agentes</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="contact-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7">
                                <div id="map">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.6375102997613!2d-77.06442352509296!3d-11.999565341023452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105ce568c042771%3A0x6072f46c2b26e80!2sSENATI%20Sede%20Central!5e0!3m2!1ses-419!2spe!4v1716142965941!5m2!1ses-419!2spe" width="100%" height="500px" frameborder="0" style="border:0; border-radius: 10px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);" allowfullscreen=""></iframe>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="item phone">
                                            <img src="~/Content/images/phone-icon.png" alt="" style="max-width: 52px;">
                                            <h6>010-020-0340<br><span>Teléfono</span></h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="item email">
                                            <img src="~/Content/images/email-icon.png" alt="" style="max-width: 52px;">
                                            <h6>info@atianas.com<br><span>Email de Negocio</span></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <form id="contact-form" action="" method="post">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <fieldset>
                                                <label for="name">Nombre Completo</label>
                                                <input type="text" name="name" id="name" placeholder="Tu Nombre..." autocomplete="on" required>
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-12">
                                            <fieldset>
                                                <label for="email">Correo Electrónico</label>
                                                <input type="email" name="email" id="email" pattern="" placeholder="Tu Correo..." required>
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-12">
                                            <fieldset>
                                                <label for="subject">Asunto</label>
                                                <input type="text" name="subject" id="subject" placeholder="Asunto..." autocomplete="on">
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-12">
                                            <fieldset>
                                                <label for="message">Mensaje</label>
                                                <textarea name="message" id="message" placeholder="Tu Mensaje"></textarea>
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-12">
                                            <fieldset>
                                                <button type="submit" id="form-submit" class="orange-button">Enviar Mensaje</button>
                                            </fieldset>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <footer>
                    <div class="container">
                        <div class="col-lg-8">
                            <p>
                                Copyright © 2024 Atiana'S. Todos los derechos reservados.

                                Diseño: <a rel="nofollow" href="https://templatemo.com" target="_blank">TemplateMo</a>
                            </p>
                        </div>
                    </div>
                </footer>

                <!-- Scripts -->
                <!-- Bootstrap core JavaScript -->
                <script src="~/Content/vendor/jquery/jquery.min.js"></script>
                <script src="~/Content/vendor/boostrap/js/bootstrap.min.js"></script>
                <script src="~/Content/js/isotope.min.js"></script>
                <script src="~/Content/js/owl-carousel.js"></script>
                <script src="~/Content/js/counter.js"></script>
                <script src="~/Content/js/custom.js"></script>

</body>
</html>